<form action="/fruits/new" method="post">
   <label>Frukt <input type="text" name="name"></label>
   <label>Beskrivning <input type="text" name="description"></label>
   <label>Tastiness <input type="integer" name="tastiness"></label>
   <input type="submit" value="Spara">
</form>